* {
    margin: 0; /* Reset de margin e padding */
    padding: 0; /* Reset de margin e padding */
    box-sizing: border-box; /* Define o box-sizing para border-box */
    font-family: "Montserrat", sans-serif; /* Define a fonte padrão */
}

/* BODY */
body {
  background-color:rgb(233, 233, 233); /* Cor de fundo */
  min-height: 100vh; /* Altura mínima */
  display: flex; /* Usa flexbox */
  flex-direction: column; /* Direção da coluna */
  justify-content: space-between; /* Justifica itens ao início */

}

/* HEADER FIXO */
.header {
  position: fixed; /* Fixa o header no topo */
  top: 0; /* Posiciona no topo */
  width: 100%; /* Largura total */
  min-height: 70px; /*  Altura mínima */
  background-color: #4d0a4d; /* Cor de fundo */
  color: white; /* Cor do texto */  

  display: flex; /* Usa flexbox */
  align-items: center; /*Alinha verticalmente ao centro */
  justify-content: space-between;  

  gap: 16px; /* espaço entre botão e texto */
  padding: 12px 50px; /* espaço lateral consistente */
  z-index: 10; /* Garante que o header fique acima de outros elementos */   
}

.menu-btn {
  background: none; /* Fundo transparente */
  border: none; /* Remove borda padrão */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */

}

.lista-btn {
  color: white; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado */
  font-size: 16px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
}

.header h1 {
  font-size: 20px;
  font-weight: bold; /* Negrito */
  white-space: nowrap; /* Impede quebra de linha */
}


nav{
  display: none;
}

/* MAIN */

main {
  display: flex; /* Usa flexbox */
  justify-content: space-around; /* Espaça os itens igualmente */
  flex-wrap: wrap; /* Permite que os itens quebrem linha se necessário */
  
}
.container {
  padding: 80px 16px 20px; /* Espaçamento interno, considerando o header fixo */
}

/* CARD */
.card {
  background-color: white; 
  border-radius: 12px;
  margin-bottom: 20px; /*   Espaçamento entre os cards */
  overflow: hidden; /*  Esconde o conteúdo que ultrapassa os limites */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08); /* Sombra para dar profundidade */
  max-width: 350px; /* Largura máxima do conteúdo */
}

.card img {
  width: 100%; /*   Largura total da imagem */
  object-fit: cover; /* Cobre o espaço sem distorcer */
}

.card-content {
  padding: 16px; /* Espaçamento interno */
  background-color:floralwhite;
}

.card-content h2 {
  font-size: 18px; /*   Tamanho da fonte */
  margin-bottom: 8px; /* Espaçamento abaixo do título */
}

.card-content p {
  font-size: 14px; /* Tamanho da fonte */
  color: grey; /*   Cor do texto */
  margin-bottom: 10px; /* Espaçamento abaixo do parágrafo */
}

.info {
  display: block; /* Exibe como bloco */
  font-size: 12px; /* Tamanho da fonte */
  color:grey; /* Cor do texto */
  margin-bottom: 12px; /* Espaçamento abaixo da informação */
}

/* PREÇO + BOTÃO */
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.price {
  font-size: 16px;
  font-weight: 600;
  color: rgb(219 58 91);
}

.buy-btn {
  padding: 8px 16px;
  background-color: rgb(219 58 91);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background-color: #4d0a4d;
  color: white;
  text-align: center;
  padding: 16px;
  margin-top: 20px;
  font-size: 12px;
  max-height: 100px;
}

@media(min-width: 600px) {
  
  .menu-btn{
    display: none; /* Oculta o botão do menu em telas maiores */
    
  }

 .nav {
    display: flex; /* Exibe o menu de navegação */
    gap: 24px; /* separa Sobre e Sair */
    align-items: center; /* Alinha verticalmente ao centro */
  }
}